{% extends 'base1.html' %}
{% block navbasic %}{% endblock %}
{% block containter %}

<div class="page-content-col-12">
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered" id="form_wizard_1">
                <div class="portlet-title">
                    <div class="caption">
                        <i class=" icon-layers font-red"></i>
                        <span class="caption-subject font-red bold uppercase"> Agregar Paciente 
                            <span class="step-title">  </span>
                        </span>
                    </div>
                    
                </div>
                <div class="portlet-body form">
                    <form class="form-horizontal" action="#" id="submit_form" method="POST">
                        <div class="form-wizard">
                            <div class="form-body">
                            
                            
                                <div class="tab-content">
                                    <div class="alert alert-danger display-none">
                                        <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below. </div>
                                    <div class="alert alert-success display-none">
                                        <button class="close" data-dismiss="alert"></button> Your form validation is successful! </div>
                                    <div class="tab-pane active" id="tab1">
                                        
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Nombres
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="nombrePaciente" id="nombrePaciente"/>
                                             
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Apellidos
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="apellidoPaciente" id="apellidoPaciente" />
                                             
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Sexo
                                              
                                            </label>
                                            <div class="col-md-4">
                                                <div class="radio-list">
                                                    <label>
                                                        <input type="radio" name="sexo" id="sexoPaciente" value="M" data-title="Male" /> Masculino </label>
                                                    <label>
                                                        <input type="radio" name="sexo" id= "sexoPaciente" value="F" data-title="Female" /> Femenino </label>
                                                </div>
                                                <div id="form_gender_error"> </div>
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label class="control-label col-md-3">Edad
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="edadPaciente" id="edadPaciente" />
                                             
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Peso
                                                <span class="required"> * </span>
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="PesoPaciente" id="PesoPaciente" />
                                             
                                            </div>
                                        </div>
                                
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Direccion
                                               
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="direccion" id= "dirPaciente" />
                                                
                                            </div>
                                        </div>
                               
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Telefono
                                                
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="telefono" id="telefono"/>
                                                 <span class="help-block"> Si tiene mas de un numero separar con coma.   </span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Celular
                                              
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="celular" id="celular" />
                                                <span class="help-block"> Si tiene mas de un numero separar con coma.   </span>
                                            </div>
                                        </div>
                                       <div class="form-group">
                                            <label class="control-label col-md-3">Tutor
                                                
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="tutorPaciente" id="tutorPaciente" />
                                             
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3">Cedula Tutor
                                                
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="cedulatutorPaciente" id="cedulatutorPaciente" />
                                             
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="control-label col-md-3">Seguro
                                                
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="seguro" id ="seguro"/>
                                                <input type="hidden" value="" name="paciente"> 
                                             
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="control-label col-md-3">Numero de Afiliado
                                                
                                            </label>
                                            <div class="col-md-4">
                                                <input type="text" class="form-control" name="numafiliado" id="numafiliado" />
                                             
                                            </div>
                                        </div>
                                      
                                    </div>
                       
                                    
                

                                </div>

                            </div>

                             <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        
                                        <a  id="saveData" href="javascript:;" class="btn green button-submit"> Ingresar
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                              
                            </div>
                        </div>

                            
                    </form>
                </div>
            </div>
        </div>

        <!-- BEGIN FOOTER -->
        
<a href="#index" class="go2top">
    <i class="icon-arrow-up"></i>
</a>

<script>
$( document ).ready(function() {

function postData(){
  var data = {
  
  nombre: $("#nombrePaciente").val(),
  apellido: $("#apellidoPaciente").val(),
  telefono: $("#telefono").val(),
  celular: $("#celular").val(),
  direccion: $("#dirPaciente").val(),
  peso: $("#PesoPaciente").val(),
  sexo: $("#sexoPaciente").val(),
  edad: $("#edadPaciente").val(),
  tutor: $("#tutorPaciente").val(),
  cedula_tutor: $("#cedulatutorPaciente").val(),
  
};
  console.log(data);
$.ajax({
  url: 'http://localhost:8000/api/paciente/agregar/',
  method: 'POST',
  crossDomain: true,
  data: JSON.stringify(data),
  contentType: "application/json",
  success: function(success) {
    console.log(success);
    postDataConsulta(success.id);
 },
  error: function(error) {
    console.log(error);
  }
});
}

$("#saveData").click(function(){
  postData();
});


function postDataConsulta(pacienteId){
    var data = {
        id:pacienteId,
        paciente : pacienteId,
        motivo_consulta : $("#motivoconsulta").val(),
    };
    console.log(data);
    $.ajax({
        url: 'http://localhost:8000/api/paciente/motivoconsultas/agregar/',
        method: 'POST',
        crossDomain: true,
        data: JSON.stringify(data),
        contentType: "application/json",
        success: function(success) {
            console.log(success);
        },
        error: function(error) {
          console.log(error);
        }
    });
}

function postDataAlergia(){
  var data = {
    
  alergia : $("#alergia").val(),
  tipo : $("#tipoaalergia").val(),

};
  console.log(data);
$.ajax({
  url: 'http://localhost:8000/api/paciente/alergia/agregar/',
  method: 'POST',
  crossDomain: true,
  data: JSON.stringify(data),
  contentType: "application/json",
  success: function(success) {
    console.log(success);
    location.href = 'http://localhost:8080/admin-5/table-datatables-managed.html';
 },
  error: function(error) {
    console.log(error);
  }
});
}


function postDataSeguro(){
  var data = {
   
  seguro: $("#seguro").val(),
  numero_afiliado: $("#numafiliado").val(),

};
  console.log(data);
$.ajax({
  url: 'http://localhost:8000/api/paciente/seguro/agregar/',
  method: 'POST',
  crossDomain: true,
  data: JSON.stringify(data),
  contentType: "application/json",
  success: function(success) {
    console.log(success);
    location.href = 'http://localhost:8080/admin-5/table-datatables-managed.html';
 },
  error: function(error) {
    console.log(error);
  }
});
}


function postDataAntePersonales(){
  var data = {
   
  antepersopatologico : $("#antepersonales").val(),
  
  


};
  console.log(data);
$.ajax({
  url: 'http://localhost:8000/api/paciente/antecendentes-personales-patologicos/agregar/',
  method: 'POST',
  crossDomain: true,
  data: JSON.stringify(data),
  contentType: "application/json",
  success: function(success) {
    console.log(success);
    location.href = 'http://localhost:8080/admin-5/table-datatables-managed.html';
 },
  error: function(error) {
    console.log(error);
  }
});
}


function postDataAnteFamiliares(){
  var data = {
  
  enfermedad : $("#enfermedad").val(),
  parentesco : $("#parentesco").val(),
  


};
  console.log(data);
$.ajax({
  url: 'http://localhost:8000/api/paciente/antecendentes-familiares-patologicos/agregar/',
  method: 'POST',
  crossDomain: true,
  data: JSON.stringify(data),
  contentType: "application/json",
  success: function(success) {
    console.log(success);
    location.href = 'http://localhost:8080/admin-5/table-datatables-managed.html';
 },
  error: function(error) {
    console.log(error);
  }
});
}


function postDataVacuna(){
  var data = {
    
  nombre_vacuna : $("#vacuna").val(),
  dosis_vacuna : $("#dosisvacuna").val(),
  edad_aplicacion : $("#edadvacuna").val(),
  tarjeta_vacunacion : $("#tarjetavacuna").val(),
  


};
  console.log(data);
$.ajax({
  url: 'http://localhost:8000/api/paciente/vacunas/agregar/',
  method: 'POST',
  crossDomain: true,
  data: JSON.stringify(data),
  contentType: "application/json",
  success: function(success) {
    console.log(success);
    location.href = 'http://localhost:8080/admin-5/table-datatables-managed.html';
 },
  error: function(error) {
    console.log(error);
  }
});
}
});


</script>

{% endblock %}