{% extends 'base1.html' %}
{% block navbasic %} {% endblock %}
{% block containter %}
<div class="page-content-col">
    <!-- BEGIN PAGE BASE CONTENT -->
    <div class="search-page search-content-2">
        <div class="search-bar bordered">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar Pacientes...">
                        <span class="input-group-btn">
                            <button class="btn blue uppercase bold" type="button">  Buscar</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="search-container bordered">
                    <ul class="search-container">
                        <li class="search-item clearfix">
                            <div class="search-content text-left">
                                <h2 class="search-title">
                                    <a href="javascript:;">Resultados</a>
                                </h2>
                                <p class="search-desc"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec efficitur pellentesque auctor. Morbi lobortis, leo in tristique scelerisque, mauris quam volutpat nunc </p>
                            </div>
                        </li>
                        
                    </ul>
                 
                </div>
            </div>
         
        </div>
    </div>
      
                                <!-- END PAGE BASE CONTENT -->
                            </div>


{% endblock %}

